// ------------------------------------------------------------------
// Red
// ------------------------------------------------------------------

&--blue {

   color: $white;
   @include color-slide;

   background-color:$blue;

    &:after {
        color: #FFF;
    }

}
