// ------------------------------------------------------------------
// Red
// ------------------------------------------------------------------

&--highlighted {

   color: $white;
   @include color-slide;

   background-color:$highlighted;

    &:after {
        color: #FFF;
    }


}
.shower.list &--highlighted.slide.active {
  	box-shadow:
		0 0 0 1px darken($primary--light, 10%),
		0 0 0 20px $primary--light,
		0 20px 50px rgba(black, 0.3);
  }
