// ------------------------------------------------------------------
// Red
// ------------------------------------------------------------------

&--highlighted-light {

   color: $white;
   @include color-slide;

   background-color:$highlighted--light;

    &:after {
        color: #FFF;
    }

}
