// ------------------------------------------------------------------
// Red
// ------------------------------------------------------------------

&--primary {

    color: $white;
    @include color-slide;

	background-color:$primary;

    &:after {
        color: #FFF;
    }

}
