// ------------------------------------------------------------------
// Red
// ------------------------------------------------------------------

&--primary-light {

   @include color-slide;

   background-color:$primary--light;
   color: $white;

    &:after {
        color: $dark;
    }

}
