$dark: #000;

$white: #FFF;

$pale: #F2E6C6;

$primary: #CA4E1F;
$primary--light: #E69445;

$highlighted: #38BCC2;
$highlighted--light: #75D3D1;


$pink: #e30085;
$blue: #3BA9E4;
$yellow: #F6C506;
$violet: #070073;

@mixin brandcolor($colorname, $color) {
    .color--#{$colorname},
    .color--#{$colorname}:link,
    .color--#{$colorname}:active,
    .color--#{$colorname}:visited
    {
      color: #{$color};
    }
}

@include brandcolor('yellow', $yellow);
@include brandcolor('pink', $pink);
@include brandcolor('blue', $blue);
@include brandcolor('violet', $violet);
