@import 'colors';

#cover {
  background-color: $white;
  background-image: none;
  color: $dark;
  text-align: left;

  padding-left: 40px;

  h2 {
    color: $dark;
    margin-top: calc(25% + 2em);
    font-family: 'Graphik Medium';
  }

  .author {
    color: $pink;
    font-family: 'Graphik Medium';
  }
}
