@import 'colors';

#cover {
  background-color: $white;
  background-image: none;
  color: $dark;
  text-align: left;

  padding-left: 40px;

  .cover__pattern {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }

  h2 {
    color: $dark;
    margin-top: calc(25% + 2em);
    font-family: 'Graphik Medium';
  }

  .author {
    color: $white;
    font-family: 'Graphik Medium';
  }
}
